USE [master]
GO
/****** Object:  Database [TeablendAI]    Script Date: 5/25/2026 8:22:06 PM ******/
CREATE DATABASE [TeablendAI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TeablendAI', FILENAME = N'D:\SW\Installed\MSSQL\MSSQL17.MSSQLSERVER\MSSQL\DATA\TeablendAI.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TeablendAI_log', FILENAME = N'D:\SW\Installed\MSSQL\MSSQL17.MSSQLSERVER\MSSQL\DATA\TeablendAI_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TeablendAI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TeablendAI]
GO
/****** Object:  User [TeaBlendAdmin]    Script Date: 5/25/2026 8:22:07 PM ******/
CREATE USER [TeaBlendAdmin] FOR LOGIN [TeaBlendAdmin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [TeaBlendAdmin]
GO
/****** Object:  Table [dbo].[admins]    Script Date: 5/25/2026 8:22:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admins](
	[admin_id] [varchar](50) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[first_name] [varchar](100) NULL,
	[last_name] [varchar](100) NULL,
	[role] [varchar](100) NULL,
	[joined_date] [date] NULL,
	[last_login] [datetime] NULL,
	[status] [varchar](50) NULL,
 CONSTRAINT [PK__admins__43AA4141B644B978] PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__admins__AB6E61647F2594B3] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__admins__F3DBC572049AD5BE] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[alembic_version]    Script Date: 5/25/2026 8:22:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alembic_version](
	[version_num] [varchar](32) NOT NULL,
 CONSTRAINT [alembic_version_pkc] PRIMARY KEY CLUSTERED 
(
	[version_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[analytics_blends_snapshots]    Script Date: 5/25/2026 8:22:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[analytics_blends_snapshots](
	[snapshot_id] [bigint] IDENTITY(1,1) NOT NULL,
	[snapshot_at] [datetime2](7) NOT NULL,
	[payload_json] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__analytic__C27CFBF79230319F] PRIMARY KEY CLUSTERED 
(
	[snapshot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[analytics_buyers_snapshots]    Script Date: 5/25/2026 8:22:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[analytics_buyers_snapshots](
	[snapshot_id] [bigint] IDENTITY(1,1) NOT NULL,
	[snapshot_at] [datetime2](7) NOT NULL,
	[payload_json] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__analytic__C27CFBF739EB76CE] PRIMARY KEY CLUSTERED 
(
	[snapshot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[analytics_overview_snapshots]    Script Date: 5/25/2026 8:22:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[analytics_overview_snapshots](
	[snapshot_id] [bigint] IDENTITY(1,1) NOT NULL,
	[snapshot_at] [datetime2](7) NOT NULL,
	[kpis_json] [nvarchar](max) NOT NULL,
	[revenue_by_month_json] [nvarchar](max) NOT NULL,
	[tea_grade_distribution_json] [nvarchar](max) NOT NULL,
	[top_blends_json] [nvarchar](max) NOT NULL,
	[quick_stats_json] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__analytic__C27CFBF7F9539235] PRIMARY KEY CLUSTERED 
(
	[snapshot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[analytics_purchases_snapshots]    Script Date: 5/25/2026 8:22:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[analytics_purchases_snapshots](
	[snapshot_id] [bigint] IDENTITY(1,1) NOT NULL,
	[snapshot_at] [datetime2](7) NOT NULL,
	[summary_json] [nvarchar](max) NOT NULL,
	[purchase_volume_by_grade_json] [nvarchar](max) NOT NULL,
	[price_trends_json] [nvarchar](max) NOT NULL,
	[price_trend_grades_json] [nvarchar](max) NOT NULL,
	[source_distribution_json] [nvarchar](max) NOT NULL,
	[supplier_contribution_json] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__analytic__C27CFBF7362AE3F4] PRIMARY KEY CLUSTERED 
(
	[snapshot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[analytics_sales_snapshots]    Script Date: 5/25/2026 8:22:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[analytics_sales_snapshots](
	[snapshot_id] [bigint] IDENTITY(1,1) NOT NULL,
	[snapshot_at] [datetime2](7) NOT NULL,
	[summary_json] [nvarchar](max) NOT NULL,
	[auction_performance_json] [nvarchar](max) NOT NULL,
	[grade_wise_prices_json] [nvarchar](max) NOT NULL,
	[selling_trends_json] [nvarchar](max) NOT NULL,
	[seller_performance_json] [nvarchar](max) NOT NULL,
	[bid_volume_analysis_json] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__analytic__C27CFBF7826F60BB] PRIMARY KEY CLUSTERED 
(
	[snapshot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auction_outbox]    Script Date: 5/25/2026 8:22:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auction_outbox](
	[event_id] [nvarchar](36) NOT NULL,
	[auction_id] [nvarchar](36) NOT NULL,
	[event_type] [nvarchar](50) NOT NULL,
	[payload] [text] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[published_at] [datetime] NULL,
	[retry_count] [int] NOT NULL,
	[failed] [bit] NOT NULL,
	[error_message] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auctions]    Script Date: 5/25/2026 8:22:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auctions](
	[auction_id] [uniqueidentifier] NOT NULL,
	[custom_auction_id] [varchar](256) NULL,
	[auction_name] [varchar](128) NULL,
	[seller_id] [uniqueidentifier] NOT NULL,
	[seller_brand] [varchar](100) NULL,
	[grade] [varchar](64) NOT NULL,
	[company_name] [varchar](128) NULL,
	[estate_name] [varchar](128) NULL,
	[quantity] [float] NOT NULL,
	[origin] [varchar](100) NOT NULL,
	[description] [varchar](max) NULL,
	[base_price] [float] NOT NULL,
	[start_time] [datetimeoffset](7) NOT NULL,
	[duration] [float] NOT NULL,
	[status] [varchar](20) NULL,
	[buyer] [uniqueidentifier] NULL,
	[sold_price] [float] NULL,
	[image_url] [varchar](256) NULL,
	[created_at] [datetimeoffset](7) NULL,
 CONSTRAINT [PK__auctions] PRIMARY KEY CLUSTERED 
(
	[auction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bids]    Script Date: 5/25/2026 8:22:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bids](
	[bid_id] [uniqueidentifier] NOT NULL,
	[auction_id] [uniqueidentifier] NOT NULL,
	[buyer_id] [uniqueidentifier] NOT NULL,
	[bid_amount] [float] NULL,
	[bid_time] [datetimeoffset](7) NULL,
 CONSTRAINT [PK__bids] PRIMARY KEY CLUSTERED 
(
	[bid_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlendComposition]    Script Date: 5/25/2026 8:22:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlendComposition](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[blend_id] [uniqueidentifier] NULL,
	[purchase_id] [uniqueidentifier] NULL,
	[percentage] [float] NULL,
 CONSTRAINT [PK_BlendComposition] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlendPurchaseMapping]    Script Date: 5/25/2026 8:22:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlendPurchaseMapping](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[blend_id] [uniqueidentifier] NULL,
	[purchase_id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_BlendPurchaseMapping] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conversations]    Script Date: 5/25/2026 8:22:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversations](
	[ConversationID] [uniqueidentifier] NOT NULL,
	[Title] [varchar](500) NULL,
	[UserID] [uniqueidentifier] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[MessageCount] [int] NULL,
	[IsActive] [bit] NULL,
	[IsPinned] [bit] NULL,
	[PinnedAt] [datetime] NULL,
 CONSTRAINT [PK__Conversations] PRIMARY KEY CLUSTERED 
(
	[ConversationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 5/25/2026 8:22:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customer_id] [uniqueidentifier] NOT NULL,
	[customer_name] [varchar](256) NULL,
	[email] [varchar](256) NULL,
	[phone] [varchar](32) NULL,
	[address] [varchar](512) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[financial_details]    Script Date: 5/25/2026 8:22:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[financial_details](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[bank_name] [varchar](128) NOT NULL,
	[account_num] [varchar](64) NOT NULL,
	[branch_name] [varchar](128) NOT NULL,
	[account_holder_name] [varchar](128) NOT NULL,
 CONSTRAINT [PK__financial_details] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__financial_details_user_id] UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 5/25/2026 8:22:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageID] [uniqueidentifier] NOT NULL,
	[ConversationID] [uniqueidentifier] NOT NULL,
	[Role] [varchar](20) NOT NULL,
	[Content] [varchar](max) NOT NULL,
	[SQLQuery] [varchar](max) NULL,
	[DataJSON] [varchar](max) NULL,
	[Source] [varchar](50) NULL,
	[VisualizationType] [varchar](50) NULL,
	[VisualizationData] [varchar](max) NULL,
	[SearchResults] [varchar](max) NULL,
	[Timestamp] [datetime] NOT NULL,
	[ResponseTimeMs] [int] NULL,
 CONSTRAINT [PK__Messages] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 5/25/2026 8:22:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[notification_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[title] [varchar](255) NOT NULL,
	[message] [varchar](max) NOT NULL,
	[type] [varchar](20) NOT NULL,
	[is_read] [bit] NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 5/25/2026 8:22:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[auction_id] [uniqueidentifier] NOT NULL,
	[total_amount] [float] NOT NULL,
	[order_date] [datetime] NOT NULL,
	[status] [varchar](9) NOT NULL,
 CONSTRAINT [PK__orders] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__orders_auction_id] UNIQUE NONCLUSTERED 
(
	[auction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_resets]    Script Date: 5/25/2026 8:22:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_resets](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[otp_code] [varchar](6) NOT NULL,
	[attempts] [int] NOT NULL,
	[max_attempts] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[expires_at] [datetime] NOT NULL,
	[is_used] [bit] NOT NULL,
 CONSTRAINT [PK__password__3213E83FD83D4C56] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_cards]    Script Date: 5/25/2026 8:22:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_cards](
	[card_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[card_type] [varchar](32) NOT NULL,
	[last4] [varchar](4) NOT NULL,
	[expiry] [varchar](5) NOT NULL,
	[cardholder_name] [varchar](128) NOT NULL,
	[is_default] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK__payment___BDF201DD64E9F831] PRIMARY KEY CLUSTERED 
(
	[card_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_details]    Script Date: 5/25/2026 8:22:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_details](
	[payment_id] [uniqueidentifier] NOT NULL,
	[payment_method] [varchar](13) NOT NULL,
	[payment_date] [datetime] NOT NULL,
	[order_id] [uniqueidentifier] NOT NULL,
	[amount] [float] NOT NULL,
	[status] [varchar](10) NOT NULL,
 CONSTRAINT [PK__payment_details] PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__payment_details_order_id] UNIQUE NONCLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeaBlendSale]    Script Date: 5/25/2026 8:22:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeaBlendSale](
	[sale_id] [uniqueidentifier] NOT NULL,
	[blend_id] [uniqueidentifier] NULL,
	[customer_id] [uniqueidentifier] NULL,
	[quantity_kg] [float] NULL,
	[unit_price] [float] NULL,
	[total_amount] [float] NULL,
	[sale_date] [datetime] NULL,
	[payment_status] [varchar](50) NULL,
	[delivery_status] [varchar](50) NULL,
 CONSTRAINT [PK_TeaBlendSale] PRIMARY KEY CLUSTERED 
(
	[sale_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeaPurchase]    Script Date: 5/25/2026 8:22:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeaPurchase](
	[purchase_id] [uniqueidentifier] NOT NULL,
	[seller_id] [uniqueidentifier] NULL,
	[auction_id] [uniqueidentifier] NULL,
	[grade] [varchar](64) NULL,
	[quantity_kg] [float] NULL,
	[price_per_kg] [float] NULL,
	[total_amount] [float] NULL,
	[purchase_date] [datetime] NULL,
	[origin] [varchar](100) NULL,
	[quality_notes] [varchar](max) NULL,
 CONSTRAINT [PK_TeaPurchase] PRIMARY KEY CLUSTERED 
(
	[purchase_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 5/25/2026 8:22:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [uniqueidentifier] NOT NULL,
	[email] [varchar](128) NOT NULL,
	[hashed_password] [varchar](256) NOT NULL,
	[phone_num] [varchar](32) NOT NULL,
	[user_name] [varchar](64) NOT NULL,
	[first_name] [varchar](64) NOT NULL,
	[last_name] [varchar](64) NOT NULL,
	[default_role] [varchar](16) NOT NULL,
	[profile_image_url] [varchar](256) NULL,
	[verification_status] [varchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[shipping_address] [varchar](256) NULL,
	[payment_method] [varchar](128) NULL,
	[status] [varchar](16) NOT NULL,
	[nic] [varchar](32) NULL,
	[seller_name] [varchar](256) NULL,
	[seller_registration_no] [varchar](128) NULL,
	[seller_started_year] [int] NULL,
	[seller_website] [varchar](256) NULL,
	[seller_description] [varchar](max) NULL,
	[seller_street_address] [varchar](512) NULL,
	[seller_province] [varchar](128) NULL,
	[seller_city] [varchar](128) NULL,
	[seller_postal_code] [varchar](32) NULL,
	[seller_verification_status] [varchar](16) NULL,
	[seller_rejection_reason] [varchar](512) NULL,
	[seller_requested_at] [datetime] NULL,
	[seller_approved_at] [datetime] NULL,
 CONSTRAINT [PK__users] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__users_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__users_user_name] UNIQUE NONCLUSTERED 
(
	[user_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[violations]    Script Date: 5/25/2026 8:22:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[violations](
	[violation_id] [int] IDENTITY(1,1) NOT NULL,
	[sender_id] [varchar](50) NULL,
	[violator_id] [varchar](50) NULL,
	[violation_type] [varchar](100) NULL,
	[reason] [varchar](500) NULL,
	[status] [varchar](50) NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK__violatio__8A9893639F5A79B8] PRIMARY KEY CLUSTERED 
(
	[violation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[watch_lists]    Script Date: 5/25/2026 8:22:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[watch_lists](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[auction_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK__watch_lists] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wins_auction]    Script Date: 5/25/2026 8:22:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wins_auction](
	[auction_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[order_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK__wins_auction] PRIMARY KEY CLUSTERED 
(
	[auction_id] ASC,
	[user_id] ASC,
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_analytics_blends_snapshots_snapshot_at]    Script Date: 5/25/2026 8:22:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_analytics_blends_snapshots_snapshot_at] ON [dbo].[analytics_blends_snapshots]
(
	[snapshot_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_analytics_buyers_snapshots_snapshot_at]    Script Date: 5/25/2026 8:22:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_analytics_buyers_snapshots_snapshot_at] ON [dbo].[analytics_buyers_snapshots]
(
	[snapshot_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_analytics_overview_snapshots_snapshot_at]    Script Date: 5/25/2026 8:22:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_analytics_overview_snapshots_snapshot_at] ON [dbo].[analytics_overview_snapshots]
(
	[snapshot_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_analytics_purchases_snapshots_snapshot_at]    Script Date: 5/25/2026 8:22:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_analytics_purchases_snapshots_snapshot_at] ON [dbo].[analytics_purchases_snapshots]
(
	[snapshot_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_analytics_sales_snapshots_snapshot_at]    Script Date: 5/25/2026 8:22:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_analytics_sales_snapshots_snapshot_at] ON [dbo].[analytics_sales_snapshots]
(
	[snapshot_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_auction_outbox_auction_id]    Script Date: 5/25/2026 8:22:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_auction_outbox_auction_id] ON [dbo].[auction_outbox]
(
	[auction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_auctions_custom_auction_id]    Script Date: 5/25/2026 8:22:07 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_auctions_custom_auction_id] ON [dbo].[auctions]
(
	[custom_auction_id] ASC
)
WHERE ([custom_auction_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_Messages_ConversationID]    Script Date: 5/25/2026 8:22:07 PM ******/
CREATE NONCLUSTERED INDEX [ix_Messages_ConversationID] ON [dbo].[Messages]
(
	[ConversationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_Messages_MessageID]    Script Date: 5/25/2026 8:22:07 PM ******/
CREATE NONCLUSTERED INDEX [ix_Messages_MessageID] ON [dbo].[Messages]
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Messages_Timestamp]    Script Date: 5/25/2026 8:22:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_Messages_Timestamp] ON [dbo].[Messages]
(
	[Timestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_notifications_user_id]    Script Date: 5/25/2026 8:22:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_notifications_user_id] ON [dbo].[notifications]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_users_status]    Script Date: 5/25/2026 8:22:07 PM ******/
CREATE NONCLUSTERED INDEX [ix_users_status] ON [dbo].[users]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[admins] ADD  DEFAULT ('Admin') FOR [role]
GO
ALTER TABLE [dbo].[admins] ADD  DEFAULT (getdate()) FOR [joined_date]
GO
ALTER TABLE [dbo].[admins] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[analytics_blends_snapshots] ADD  DEFAULT (sysutcdatetime()) FOR [snapshot_at]
GO
ALTER TABLE [dbo].[analytics_buyers_snapshots] ADD  DEFAULT (sysutcdatetime()) FOR [snapshot_at]
GO
ALTER TABLE [dbo].[analytics_overview_snapshots] ADD  DEFAULT (sysutcdatetime()) FOR [snapshot_at]
GO
ALTER TABLE [dbo].[analytics_purchases_snapshots] ADD  DEFAULT (sysutcdatetime()) FOR [snapshot_at]
GO
ALTER TABLE [dbo].[analytics_sales_snapshots] ADD  DEFAULT (sysutcdatetime()) FOR [snapshot_at]
GO
ALTER TABLE [dbo].[auction_outbox] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[auction_outbox] ADD  DEFAULT ((0)) FOR [retry_count]
GO
ALTER TABLE [dbo].[auction_outbox] ADD  DEFAULT ((0)) FOR [failed]
GO
ALTER TABLE [dbo].[auctions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[notifications] ADD  CONSTRAINT [DF_notifications_type]  DEFAULT ('system') FOR [type]
GO
ALTER TABLE [dbo].[notifications] ADD  CONSTRAINT [DF_notifications_is_read]  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[notifications] ADD  CONSTRAINT [DF_notifications_created_at]  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[payment_cards] ADD  DEFAULT ((0)) FOR [is_default]
GO
ALTER TABLE [dbo].[payment_cards] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[violations] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[violations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[auctions]  WITH CHECK ADD  CONSTRAINT [FK_auctions_users] FOREIGN KEY([seller_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[auctions] CHECK CONSTRAINT [FK_auctions_users]
GO
ALTER TABLE [dbo].[bids]  WITH CHECK ADD  CONSTRAINT [FK_bids_auctions] FOREIGN KEY([auction_id])
REFERENCES [dbo].[auctions] ([auction_id])
GO
ALTER TABLE [dbo].[bids] CHECK CONSTRAINT [FK_bids_auctions]
GO
ALTER TABLE [dbo].[bids]  WITH CHECK ADD  CONSTRAINT [FK_bids_users] FOREIGN KEY([buyer_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[bids] CHECK CONSTRAINT [FK_bids_users]
GO
ALTER TABLE [dbo].[financial_details]  WITH CHECK ADD  CONSTRAINT [FK_financial_details_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[financial_details] CHECK CONSTRAINT [FK_financial_details_users]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Conversations] FOREIGN KEY([ConversationID])
REFERENCES [dbo].[Conversations] ([ConversationID])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Conversations]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [FK_notifications_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [FK_notifications_users]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_auctions] FOREIGN KEY([auction_id])
REFERENCES [dbo].[auctions] ([auction_id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_auctions]
GO
ALTER TABLE [dbo].[password_resets]  WITH CHECK ADD  CONSTRAINT [FK_password_resets_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[password_resets] CHECK CONSTRAINT [FK_password_resets_users]
GO
ALTER TABLE [dbo].[payment_cards]  WITH CHECK ADD  CONSTRAINT [fk_payment_cards_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[payment_cards] CHECK CONSTRAINT [fk_payment_cards_user_id]
GO
ALTER TABLE [dbo].[payment_details]  WITH CHECK ADD  CONSTRAINT [FK_payment_details_orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[payment_details] CHECK CONSTRAINT [FK_payment_details_orders]
GO
ALTER TABLE [dbo].[watch_lists]  WITH CHECK ADD  CONSTRAINT [FK_watch_lists_auctions] FOREIGN KEY([auction_id])
REFERENCES [dbo].[auctions] ([auction_id])
GO
ALTER TABLE [dbo].[watch_lists] CHECK CONSTRAINT [FK_watch_lists_auctions]
GO
ALTER TABLE [dbo].[watch_lists]  WITH CHECK ADD  CONSTRAINT [FK_watch_lists_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[watch_lists] CHECK CONSTRAINT [FK_watch_lists_users]
GO
ALTER TABLE [dbo].[wins_auction]  WITH CHECK ADD  CONSTRAINT [FK_wins_auction_auctions] FOREIGN KEY([auction_id])
REFERENCES [dbo].[auctions] ([auction_id])
GO
ALTER TABLE [dbo].[wins_auction] CHECK CONSTRAINT [FK_wins_auction_auctions]
GO
ALTER TABLE [dbo].[wins_auction]  WITH CHECK ADD  CONSTRAINT [FK_wins_auction_orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[wins_auction] CHECK CONSTRAINT [FK_wins_auction_orders]
GO
USE [master]
GO
